*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-logo: 'Lato', Arial, sans-serif;
    --ff-primary: 'Nunito', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent-second: #23A6D5;

    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
html {
    scroll-behavior: smooth;
} 

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    height: 100vh;
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 15px;
    background: var(--clr-accent);
    border-radius: 15px;
    box-shadow:  21px 21px 42px #1e8db5, 
                -21px -21px 42px #28bff5;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 15em;
}

.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.nav {
    position: fixed;
    background: var(--clr-accent-second);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-light);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/* landing text */
.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752,#E73C7E,#23A6D5,#23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.landing-text h1{
    min-width:200px;
    flex-shrink: 0;
    text-shadow: var(--bs);
    font-size: 7rem;
    font-family: var(--ff-logo);
    user-select: none;
    letter-spacing: 2px;
    text-align: center;
}
.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
    user-select: none;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media (max-width: 500px) {
    .landing-text h1{
        font-size: 2rem;
    }
    .landing-text h6{
        font-size: 1rem;
    }
}

.about-me {
    min-height: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.about-me__body {
    padding-bottom: 5em;
}

.about-me__img {
    /*box-shadow: var(--bs);*/
    text-align: center;    
    background-image: url(../img/image-2.jpg);
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 500px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow:  20px 20px 30px #d9d9d9, 
                -20px -20px 30px #ffffff;
}


.icon-list{
    width: 100%;
    max-width: 150rem;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.icon-item{
    list-style: none;
    padding: 0.5em;
}

.icon-link{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-decoration: none;
    color: #b6bbc5;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),
                -1rem -1rem 2rem rgba(255,255,255,.5);
}

.icon-link i{
    margin: auto;
}

.icon-link:hover{
    box-shadow: inset 1rem 1rem 2rem rgba(0,0,0,.1),
    inset -1rem -1rem 2rem rgba(255,255,255,.5);
}

@media (max-width:700px) {

    .icon-link{
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (min-width: 1040px) {
    .about-me {
        padding: 10em;
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-template-areas: 
            "title img"
            "text img"
            "social img";
        grid-column-gap: 3em;
        grid-auto-rows: min-content;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        height: fit-content;
    }
    
    .about-me__img {
        grid-area: img;
        z-index: 2;
    }

    .about-me__social{
        grid-area: social;
    }
}


/* Experience */
.experience {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;  
    padding: 5em 2em 5em 2em ;  
}

.experience .section__subtitle{
    margin-bottom: 2em;
}


.timeline{
    padding:0 15rem 0 15rem;
}


.timeline ul{
    border-left: 4px solid var(--clr-accent);
    border-radius: .8rem;
    background-color:#fbfbfb;
    margin: 0 auto;
    position: relative;
    padding: 5em;
    list-style: none;
    text-align: left;
    width: 70%;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),
    -1rem -1rem 2rem rgba(255,255,255,.5);
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
}

.timeline .date{
    border-bottom: 1px solid #fbfbfb;;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: bock;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px var(--clr-accent-second);
    border-radius: 100%;
    left: -6.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color:var(--clr-accent-second);
}

@media (max-width: 800px) {
    .experience {
        padding: 2em 1em 2em 1em ;  
    }

    .timeline{
        padding:0 2rem 0 2rem;
    }

    .timeline ul{
        border-left: 1px solid var(--clr-accent);
        border-radius: .2rem;
        background-color:#fbfbfb;
        margin: 0 auto;
        position: relative;
        padding: 1em;
        list-style: none;
        text-align: left;
        width: 90%;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1),
        -1rem -1rem 2rem rgba(255,255,255,.5);
    }

    .timeline h1{
        font-size: 1rem;
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .timeline .date::before{
        content: attr(data-date);
        left: -8.5rem;
        text-align: right;
        min-width: 12rem;
        font-size: 1rem;
        transform: rotate(-90deg);
    }
    
    .timeline .date::after{
        content: '';
        box-shadow: 0 0 0 4px var(--clr-accent-second);
        border-radius: 100%;
        left: -1.3rem;
        height: 0.5rem;
        width: 0.5rem;
        background-color:var(--clr-accent-second);
    }
    
}


/* footer */

.footer {
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 1em 0 0;
    padding: 1;
}

.social-list__link {
    padding: .5em;
}

/* ----------------------- TO DO ---------------------------- */

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;    
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}


/*  My services section  */

.my-services {
    background-color: var(--clr-accent-second);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}